<%- include ("header.ejs") %>



<section>
<form action="/submit" method="POST">
  <input type="text" name="item" id="" placeholder="New item" />
  <button type="submit">+ADD</button>
</form>

<form action="/reset" method="POST" class="reset">
<button type="submit">Reset</button>
</form>

</section>



 <% items.forEach((item)=>{ %>
  <h1 class="item">  <%= item %> </h1>

 <% }) %>



<%- include ("footer.ejs") %>

<script>
  const items=document.querySelectorAll(".item")


items.forEach((item)=>{
  item.addEventListener("click",()=>{
    item.classList.toggle("checked")
  })
})



</script>